/* index.css or App.css */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Tailwind imports should follow */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #52525d; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #ff5b2e; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners for the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

/* Customize the selected text */
::selection {
    background: #ffb7b7; /* Background color of the selection */
    color: #ff5b2e; /* Text color of the selection */
}

/* For Webkit browsers */
::-moz-selection {
    background: #ffb7b7; /* Background color of the selection */
    color: #ff5b2e; /* Text color of the selection */
}
